<%- include('../partials/header') %>
<section class="contenedor-prpal">
  <div class="container">
    <h1>Metodos para el consumo de la api</h1>
    <hr>
    <div class="contenedor-links">
      <ul>
        <li>GET - productos <a href="/productos" target="blank">{ /productos }</a></li>
        <li>POST - <b>ingresarproductos:</b></li>
        <hr>
        <li>
          <code>
            <strong>Parametros para pasar por post:</strong>
            <ul>
              <li>nombre=prueba1</li>
              <li>descripcion=descripcionDeLaprueba1</li>
              <li>categoria=prueba1</li>
              <li>cantidad=1200</li>
              <li>precio=100</li>
            </ul>
            <hr>
            <strong>Ruta final:</strong>
            /ingresarproductos?nombre=prueba1&descripcion=descripcionDeLaprueba1&categoria=prueba1&cantidad=1200&precio=100
          </code>
        </li>
      </ul>
    </div>
  </div>
</section>
<%- include('../partials/header') %>
